# Object files
*.o
*.Po
.deps/

# http://www.gnu.org/software/automake
Makefile.in
Makefile

# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/INSTALL
/config.*

# Eclipse files
.autotools
.cproject
.project
.settings/

# Binaries
src/test

